<div class="jumbotron-mt-4">
    <h1 class="display-3">Habit Crafter</h1>

    <h3>Create healthy habits and take control of the flow of your life</h3>

    <p class="lead"> Unlock your full potential and streamline your daily tasks effortlessly with Habit Crafter. Seamlessly integrating notes, reminders, and an AI-powered chat, our platform empowers you to conquer your day.</p>

    <hr class="my-4">
    <h4>What Sets Us Apart: <br></h4>        
    
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">📝 Tailored Note-Taking</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">⏰ Intelligent Reminders</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">🤖 AI-Powered Assistance</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">⚡Supercharge Your Productivity</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Capture your thoughts in style. Customize your notes with various formats and colors, making every idea uniquely yours. <br> <br> Elevate your note-taking experience with [App Name]. We understand that your thoughts are unique, and so should be the way you capture them. Our advanced note-taking feature allows you to go beyond the basics. <br><br>Tailor your notes to perfection and bring your ideas to life in a way that's as unique as you are.
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Stay on top of your schedule. Our smart reminders ensure you never miss an important deadline or meeting.
                <br><br>Experience a whole new level of organization and punctuality with Habit Crafter's intelligent reminder system. We've redefined how you stay on top of your schedule, ensuring you never miss a beat. <br><br>Stay organized, meet deadlines, and seize every opportunity, all with a personalized and adaptable reminder system.
            </div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Get instant solutions to your queries through our AI chat. From quick tips to personalized guidance, our AI is here to support you. <br><br>At Habit Crafter, our AI-driven chat feature isn’t just another support tool—it’s your go-to resource for instant, personalized assistance. Harness the power of cutting-edge artificial intelligence to enhance your experience and expand your capabilities. <br><br>Empower yourself with instant knowledge, personalized advice, and a supportive companion that evolves alongside you on your journey to success.</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Take control of your time and boost efficiency. Habit Crafter is your ally in making each moment count towards achieving your goals. <br><br>At Habit Crafter, we're dedicated to maximizing your efficiency and helping you achieve more in less time. Our suite of productivity tools is designed to transform the way you work, ensuring each moment contributes to your success. <br><br>From managing tasks to achieving milestones, every feature is crafted to supercharge your productivity and propel you towards success.</div>
            </div>
        </div>  
    </div>
    
    <hr class="m-4">
    <p>
        Experience the difference—join Habit Crafter today and revolutionize how you organize and maximize your day!
    </p>

    <a href="/users/signin" class="btn btn-primary">Join Now</a>
</div>